repos:
  # isort: import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 6.1.0
    hooks:
      - id: isort
        args: ["--profile=black"]

  # Black: format code
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black